{% extends "/shared/_layout.html" %}

{% block content %}
        <div class="content">
            <h1><span class="font-semi-bold">Mock employees API parser</span></h1>
            <p class="lead">
                A RESTful API mock employees data parser service<br>
                <br>
                <strong>API endpoints:</strong>
            <ul>
                <li>
                    <strong>Search employees by keyword</strong><br>
                    <a href="/api/search/rom">GET /api/search/{keyword}</a>
                </li>
                <li>
                    <strong>Search employee by id</strong><br>
                    <a href="/api/employee/2">GET /api/employee/{id}</a>
                </li>
            </ul>
            </p>
        </div>

{% endblock %}